@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

$shadow: 5px 5px 15px 2px rgba(0,0,0,0.06);

$clr-primary: #006241;
$clr-secondary: #feb45a;
$clr-primany-light: #feb45a;
$clr-light: #fff;
$clr-dark: #2d2d2d;
$clr-gray: #eaeaea;

$ff-primary: "Nunito", helvetica sans-serif;
$ff-secondary: "Arial", helvetica sans-serif;

$breakpoints: (
  "xs": 0,
  "sm": 48rem,
  "md": 72rem,
  "lg": 96rem,
  "xl": 120rem,
);
$mobile: 480px;
$tablet: 720px;
$desktop: 960px;

$grid-cols: 12;
$grid-gap: 1rem;

$break-sm: 500px;
$break-md: 768px;
$break-lg: 970px;
